.advantages {
    width: 206px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 3px 10px 2px #00000040;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 22px;
    text-align: center;
}